<div class="container-fluid">
<!-- Title + Reload Button -->
  <div class="row">
    <div class="col col-sm">
      <h1>Flugwetter vom <%= flugwetterCH.validity %></h1>
      <a class="btn btn-dark" href="/reload" target="_blank">Refresh</a>
      <script>
        function onClick() {
          alert("Demo Alert")
        }
      </script>
    </div>
  </div>
 <!-- Flugwetter Uebersicht CH --> 
  <div class="row">
    <div class="col col-sm">
      <img src="img/synopsis.png" alt="Bodenkarte">
    </div>
    <div class="col col-sm">
      <h2>Flugwetterübersicht - Schweiz</h2>
      <p><%= flugwetterCH.basic %></p>
      <h3>Flachland und Jura:</h3>
      <p><%= flugwetterCH.jura %></p>
      <h3>Voralpen und Alpen</h3>
      <p><%= flugwetterCH.voralpen %></p>
      <h3>Alpensuedseite und Engadin</h3>
      <p><%= flugwetterCH.engadin %></p>
      <h3>Gefahren</h3>
      <p><%= flugwetterCH.gefahren %></p>
      <h3>Aussichten</h3>
      <p><%= flugwetterCH.aussichten %></p>
    </div>
  </div>
<!-- LLSWC Tabs -->
  <div class="row justify-content-center">
    <div class="col col-8">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-06-10" role="tab"
            aria-controls="nav-06-10" aria-selected="true">LLSWC 06-10 UTC</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-10-14" role="tab"
            aria-controls="nav-10-14" aria-selected="false">LLSWC 10-14 UTC</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-14-18" role="tab"
            aria-controls="nav-14-18" aria-selected="false">LLSWC 14-18 UTC</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-18-22" role="tab"
            aria-controls="nav-18-22" aria-selected="false">LLSWC 18-22 UTC</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-06-10" role="tabpanel" aria-labelledby="nav-home-tab">
          <img src="img/LLSWC06-10.png" class="d-block w-100" alt="...">
        </div>
        <div class="tab-pane fade" id="nav-10-14" role="tabpanel" aria-labelledby="nav-profile-tab">
          <img src="img/LLSWC10-14.png" class="d-block w-100" alt="...">
        </div>
        <div class="tab-pane fade" id="nav-14-18" role="tabpanel" aria-labelledby="nav-contact-tab">
          <img src="img/LLSWC14-18.png" class="d-block w-100" alt="...">
        </div>
        <div class="tab-pane fade" id="nav-18-22" role="tabpanel" aria-labelledby="nav-contact-tab">
          <img src="img/LLSWC18-22.png" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
<!-- Wind -->
  <div class="row">
    <div class="col col-sm">
      <img src="img/windtemp12h.png" alt="Wind-/Temperatur" />
    </div>
    <div class="col col-sm">
      <img src="img/windbarbs12h.png" alt="Windbarbs" />
    </div>
  </div>
  <div class="row">
    <div class="col col-sm">
      <iframe width="800" height="500" src="https://embed.windy.com/embed2.html?lat=46.740&amp;lon=10.547&amp;zoom=5&amp;level=surface&amp;overlay=rain&amp;menu=&amp;message=&amp;marker=&amp;calendar=&amp;pressure=true&amp;type=map&amp;location=coordinates&amp;detail=&amp;detailLat=46.740&amp;detailLon=10.547&amp;metricWind=default&amp;metricTemp=default&amp;radarRange=-1" frameborder="0"></iframe>
    </div>
    <div class="col col-sm">
      xy
    </div>
  </div>
  <div class="row">
    <div class="col col-sm">
      <img src="img/foehn.png" alt="Foehndiagram" />
    </div>
    <div class="col col-sm">
      <img src="img/bise.png" alt="Bisendiagram" />
    </div>
  </div>
<!-- GAFOR -->
  <div class="row justify-content-center">
    <div class="col col-8">
      <img src="img/gafor-ch.png" alt="GAFOR Schweiz" />
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center">
      <!--<iframe title="WINDY" width="650" height="450" src="https://embed.windy.com/embed2.html?lat=47.369&lon=8.569&zoom=4&level=surface&overlay=wind&menu=&message=true&marker=&calendar=&pressure=true&type=map&location=coordinates&detail=&detailLat=47.369&detailLon=8.569&metricWind=kt&metricTemp=%C2%B0C&radarRange=-1" frameborder="0" /> -->
    </div>
  </div>


</div>