<div class="accordion" id="accordionExample">
  <!-- Birrfeld -->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Region Birrfeld
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <%- include ('../partials/roundshot.ejs', {data: roundshotsBirrfeld}) %>
      </div>
    </div>
  </div>
  <!-- Zentralschweiz -->
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Zentralschweiz
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <%- include ('../partials/roundshot.ejs', {data: roundshotsZS}) %>
      </div>
    </div>
  </div>
  <!-- Wallis -->
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Wallis
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <%- include ('../partials/roundshot.ejs', {data: roundshotsWallis}) %>
      </div>
    </div>
  </div>
  <!-- Graubuenden -->
  <div class="card">
    <div class="card-header" id="heading4">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
          Graubünden
        </button>
      </h2>
    </div>
    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
      <div class="card-body">
        <%- include ('../partials/roundshot.ejs', {data: roundshotsGraubuenden}) %>
      </div>
    </div>
  </div>
  <!-- Engadin -->
  <div class="card">
    <div class="card-header" id="heading5">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
          Engadin
        </button>
      </h2>
    </div>
    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
      <div class="card-body">
        <%- include ('../partials/roundshot.ejs', {data: roundshotsEngadin}) %>
      </div>
    </div>
  </div>
  <!-- Ostschweiz -->
  <div class="card">
    <div class="card-header" id="heading6">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
          Ostschweiz
        </button>
      </h2>
    </div>
    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
      <div class="card-body">
        <%- include ('../partials/roundshot.ejs', {data: roundshotsOstschweiz}) %>
      </div>
    </div>
  </div>



</div>